accelerate>=0.22.0
diffusers>=0.24.0
matplotlib
scipy
torch==2.0.1
torchvision==0.15.2
transformers>=4.32.1
datasets>=2.15.0
xformers==0.0.20
jsonlines
h5py
opencv-python
more_itertools
plyfile
peft
tensorboard
scikit-image
h5py
einops
modelscope